{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
<script>
onload=setTimeout(function(){location.replace("/login")},3000);

</script>

 <h3>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h3>
 <br> Через несколько секунд вы будете перенаправлены на страницу авторизации

{% endblock %}
